body {
    margin: 0%;
}

h1 {
    color:white;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
    margin: 0%;
    background-image: linear-gradient(to right,darkblue,cyan);
}

main {
    width: 100%;
    height: 700px;
    background-image: url('../img/yoga.jpg');
}

table {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 120px;
    height: 70px;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
}

.Coin {
    background-color: white;
}

.Jour, .Heure {
    background-color: lightgray;
    font-weight: bolder;
}

.Yoga {
    background-color: #009bcc;
    color: white;
}

.Biking {
    background-color: #96c21f;
    color: white;
}

.Self-Defense {
    background-color:  #e65686;
    color: white;
}

.Boxe {
    background-color: #d9006b;
    color: white;
}

.Stretching {
    background-color: #11bcaf;
    color: white;
}

.Cardio {
    background-color:  #7459ad;
    color: white;
}

.Crossfit{
    background-color: orange;
    color: white;
}

.Pause {
    background-image: url('../img/stripes.png');
}